.pageContent {
	/*width: 755px;*/
	width: 100%;
	float: left;
	margin: 30px;
	padding-left: 260px;
	box-sizing: border-box;
}

.pageContent p {
	margin: 20px 10px;
}

.pageContent table input[type="text"], .pageContent table select, .pageContent table textarea {
	width: 100%;
}

.pageContent textarea {
	min-height: 300px;
	resize: none;
}