.sidebar {
	float: left;
	width: 260px;
}

.sidebar > nav {
	width: 234px;
	background: #EAF9FD;
	padding: 140px 13px 20px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}

.sidebar > nav li {
	line-height: 2em;
	padding: 0 10px;
	border-top: solid thin rgba(0, 0, 0, 0.1);
}

.sidebar > nav li:first-child {
	border: none;
}

.sidebar > nav li.current {
	font-weight: bold;
}

.sidebar .sideModule {
	width: 234px;
	padding: 13px;
	margin: 20px 0;
	background: #EAF9FD;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
}