footer {
	clear: both;
	padding: 240px 0 90px;
	background: url('resources/images/skyblue/footerSpan.jpg') center 100px no-repeat;
	font: 1.2em "Roboto Condensed", Arial, Verdana, sans-serif;
	font-weight: 300;
	width: 900px;
	margin: 40px auto;
}

footer li {
	padding: 7px 0;
}

footer .bigText {
	font-size: 1.5em;
}

footer .subscript {
	font-size: 0.8em;
}

.third {
	width: 33%;
	margin: 30px 0;
	float: left;
}

.third > ul {
	padding: 0 40px;
}