/* General page styles */

a, a:active, a:visited {
	text-decoration: none;
	color: inherit;
	display: block;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}

h2, h3 {
	font: 1.5em "Roboto Condensed", Arial, Verdana, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	border-bottom: solid thin rgba(0, 0, 0, 0.05);
	margin-bottom: 10px;
	padding: 5px 10px;
}

#pageWrap {
	width: 1078px;
	margin: 0 auto;
}

.clear {
	content: '.';
	clear: both;
	height: 0;
	visibility: hidden;
	overflow: hidden;
}

strong {
	font-weight: bold;
}