/* Sidebar styles */

#sidebar {
	width: 260px;
	padding: 0 0 20px;
	font-size: 0.875em;
}

#sidebar nav {
	padding: 20px 10px 30px;
	box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
	font: 1.2em "Roboto Condensed", Arial, Verdana, sans-serif;
	font-weight: 400;
	letter-spacing: 1px;
	color: #147BC2;
}

#sidebar li {
	padding: 7px 10px;
	border-bottom: solid thin rgba(0, 0, 0, 0.05);
}

#sidebar nav li:last-child {
	border: none;
}

#sidebar nav a:hover {
	margin-left: 1px;
}

.sideModule {
	margin: 30px 0;
	color: #0285A5;
}

.sideModule h3 {
	font-size: 1.2em;
	margin: 10px 0 0;
	padding: 0 10px;
	border: none;
}

.sideModule p {
	padding: 5px 10px;
	font: 1.1em "Roboto Condensed", Arial, Verdana, sans-serif;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5em;
}